{
  "presets": [
    ["es2015", {"modules": false}],
    "es2016",
    "stage-0",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
		"transform-decorators-legacy",
    "transform-class-properties"
  ]
}