html, body, #app{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.item{
    position: relative;
    width:500px;
    padding: 10px;
}
.item::before{
    position: absolute;
    content:" ";
    width:100%;
    height:100%;
    background: white ;
    z-index: -1;
    right:0px;
    top:0px;
    transition: width .5s;
}
.item::after{
    position: absolute;
    content:" ";
    width:100%;
    height:100%;
    background: linear-gradient(to right, white, dodgerblue) ;
    z-index: -2;
    left:0px;
    top:0px;
}
.item:hover::before{
    width:0%;
}
